# Numpy data files.
*.npy
# Keras model files.
*.h5
# Caffe model files.
*.prototxt
*.caffemodel
# IDE files.
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local files for private testiing
test.py
debug.py

# core dump default name
core

# I think this is for one of my linters
.ropeproject/

# I think this is for one of my linters
.cache/

# do not accidentally check in vim temp files
*.swp
